#experienceContainer {
  padding-top:5%;
  padding-bottom:5%;
}

#myTeam{
  background-color: #F3F3F3;
  padding-top:5%;
  padding-bottom:5%;
}

#bodyContainer{
  padding-bottom:10%;
}

#aboutMeContainer{
  background-color: #F3F3F3;
  padding-top:5%;
  padding-bottom:5%;
}

#contact{
  font-family: Anton, serif;
  padding-top:5%;
}

#footer{
  padding-top:5%;
  padding-bottom:5%;
  background-color:black;
  color:white;
}

.starter-template{
  font-family: Anton, serif;
}

.welcomeDiv{
  font-family: Shadows Into Light, serif;
}

.myExperience{
  font-family: Anton, serif;
  border-top: 1px solid black;
  text-align: center;
}

.myExperience.rightDiv{
  border-left: 1px solid black;
}

.myExperience.middleDiv{
  border-left: 1px solid black;
}

.myTeam{
  font-family: Shadows Into Light, serif;
  text-align: center;
}

.contactLink{
  color:black;
}

.contactLink:hover{
  color:black;
  text-decoration:none;
}
